body {
  margin: 0;
  height: 100%;
  background-color: antiquewhite;
}

#container {
  position: relative;
  max-width: 615px;
  margin-inline: auto;
}

h1 {
  text-align: center;
}

#container table {
  border-collapse: collapse;
  text-align: center;
}

#container tr {
  border-radius: 12px;
  border: 5px dotted red;
  height: auto;
  width: 90px;
}
#container td {
  border: 3px solid green;
  height: auto;
  width: 90px;
}
img {
  width: 60px;
  height: auto;
}

a {
  color: rgb(251, 0, 255);
}

.myclass {
  border: 2px solid black;
}

p {
  margin: 20px;
}

.changefont {
  font-size: medium;
  font-weight: 500;
}

.hidecontent {
  visibility: hidden;
}
